<div id="repo_dialog" title="<%=params[:repo_action]%>">
	<% remote_form_for :repo, @repo, :url => { :action => "#{params[:repo_action]}"}, :loading => "Element.show('tree_indicator')", :complete => "Element.hide('tree_indicator')" do |f| %>
	<table>
		<tr>
			<td>Username:</td>
			<td><%=f.text_field :username%></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><%=f.password_field :password%></td>
		</tr>
		<tr>
			<td><%=f.hidden_field :project_id, :value => params[:id]%></td>
		</tr>
		<tr>
			<td><%=submit_tag "#{params[:repo_action].capitalize!}", :onclick => 'Modalbox.hide()'%></td>
		</tr>
	</table>
	<%end%>
</div>